<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Магазин{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header>
        <h1><a href="{% url 'home' %}">E-Commerce</a></h1>
        <nav>
            <a href="{% url 'product_list' %}">Товары</a>
            {% comment %} <a href="{% url 'cart' %}">Корзина</a> {% endcomment %}
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Профиль</a>
                <a href="{% url 'logout' %}">Выход</a>
            {% else %}
                <a href="{% url 'login' %}">Вход</a>
                <a href="{% url 'register' %}">Регистрация</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>
